<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana RideShares By Svet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between mt-3 border-bottom border-dark">
            <h2>Update the Details!</h2>
            <div>
                <a href="/rides/dashboard" class="btn btn-success">Home</a>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </header>
        <main>
            {% with messages = get_flashed_messages(category_filter=['ride']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
             {% endwith %}
            <form action="/edit_ride/{{one_ride.id}}" class="d-flex flex-column" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <input type="hidden" name="destination" value="{{one_ride.destination}}">
                            <input type="hidden" name="rideshare_date" value="{{one_ride.rideshare_date}}">
                            <label for="pick_up_location">Pick-up Location:</label></td>
                        <td><input type="text" name="pick_up_location" value="{{one_ride.pick_up_location}}"></td>
                    </tr>
                    <tr>
                        <td><label for="details">Details:</label></td>
                        <td><textarea name="details" cols="18" rows="3">{{one_ride.details}}</textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Update" class="btn btn-primary"></td>
                    </tr>
                </table>
            </form>
        </main>
    </div>
</body>
</html>