belt_exam/.DS_Store
belt_exam/arbortrary.zip
belt_exam/.vscode/settings.json
belt_exam/arbortrary/.DS_Store
belt_exam/arbortrary/arbortrary_erd.mwb
belt_exam/arbortrary/arbortrary_erd.mwb.bak
belt_exam/arbortrary/Pipfile
belt_exam/arbortrary/Pipfile.lock
belt_exam/arbortrary/server.py
belt_exam/arbortrary/flask_app/__init__.py
belt_exam/arbortrary/flask_app/.DS_Store
belt_exam/arbortrary/flask_app/__pycache__/__init__.cpython-310.pyc
belt_exam/arbortrary/flask_app/config/mysqlconnection.py
belt_exam/arbortrary/flask_app/controllers/.DS_Store
belt_exam/arbortrary/flask_app/controllers/trees.py
belt_exam/arbortrary/flask_app/controllers/users.py
belt_exam/arbortrary/flask_app/models/.DS_Store
belt_exam/arbortrary/flask_app/models/tree.py
belt_exam/arbortrary/flask_app/models/user.py
belt_exam/arbortrary/flask_app/static/css/style.css
belt_exam/arbortrary/flask_app/templates/dashboard.html
belt_exam/arbortrary/flask_app/templates/edit_tree.html
belt_exam/arbortrary/flask_app/templates/index.html
belt_exam/arbortrary/flask_app/templates/my_trees.html
belt_exam/arbortrary/flask_app/templates/plant_tree.html
belt_exam/arbortrary/flask_app/templates/show_tree.html
belt_exam/arbortrary_black/.DS_Store
belt_exam/arbortrary_black/arbortrary_black_erd.mwb
belt_exam/arbortrary_black/arbortrary_black_erd.mwb.bak
belt_exam/arbortrary_black/Pipfile
belt_exam/arbortrary_black/Pipfile.lock
belt_exam/arbortrary_black/server.py
belt_exam/arbortrary_black/flask_app/__init__.py
belt_exam/arbortrary_black/flask_app/.DS_Store
belt_exam/arbortrary_black/flask_app/__pycache__/__init__.cpython-310.pyc
belt_exam/arbortrary_black/flask_app/config/mysqlconnection.py
belt_exam/arbortrary_black/flask_app/controllers/.DS_Store
belt_exam/arbortrary_black/flask_app/controllers/trees.py
belt_exam/arbortrary_black/flask_app/controllers/users.py
belt_exam/arbortrary_black/flask_app/controllers/visitors.py
belt_exam/arbortrary_black/flask_app/models/.DS_Store
belt_exam/arbortrary_black/flask_app/models/tree.py
belt_exam/arbortrary_black/flask_app/models/user.py
belt_exam/arbortrary_black/flask_app/models/visitor.py
belt_exam/arbortrary_black/flask_app/static/css/style.css
belt_exam/arbortrary_black/flask_app/templates/dashboard.html
belt_exam/arbortrary_black/flask_app/templates/edit_tree.html
belt_exam/arbortrary_black/flask_app/templates/index.html
belt_exam/arbortrary_black/flask_app/templates/my_trees.html
belt_exam/arbortrary_black/flask_app/templates/plant_tree.html
belt_exam/arbortrary_black/flask_app/templates/show_tree.html
flask_mysql/validation/coding_dojo_wall_sensei/.gitignore
flask_mysql/validation/coding_dojo_wall_sensei/README.md
flask_mysql/validation/coding_dojo_wall_sensei/requirements.txt
belt_exam/car_dealz
belt_exam/car_dealz

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# If you are using PyCharm # 
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
