<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-end text-light">
            <div class="mt-2">
                <a href="/recipes" class="btn btn-outline-success me-1">back to recipes</a>
                <a href="/logout" class="btn btn-outline-danger">Logout</a>
            </div>
        </header>
        <main>
            <h2 class="text-warning">Edit Recipe!</h2>
            <h6 class="text-danger">Description must not be blank</h6>
            <form action="/recipe_edit/{{one_recipe.id}}" method="post" class="text-light d-flex flex-column">
                <div class="d-flex gap-3">
                    <div class="d-flex flex-column left-1 me-5">
                        <table>
                            <tr>
                                <td><label for="name">Name</label></td>
                                <td><input type="text" name="name" value="{{one_recipe.name}}"></td>
                            </tr>
                            <tr>
                                <td><label for="description">Description</label></td>
                                <td><textarea name="description" rows="3">{{one_recipe.description}}</textarea></td>
                            </tr>
                            <tr>
                                <td><label for="instructions">Instructions</label></td>
                                <td><textarea name="instructions" rows="4">{{one_recipe.instructions}}</textarea></td>
                            </tr>
                        </table>
                    </div>
                    <div class="d-flex flex-column right-1 gap-5">
                        <div class="d-flex flex-column">
                            <label for="date_made">Date Cooked/Made:</label>
                            <input type="date" name="date_made" value="{{one_recipe.date_made}}" class="w-50">
                        </div>
                        <div>
                        <label for="under_30_min">Under 30 Minutes?</label>
                            <div class="gap-2">
                                <input type="radio" name="under_30_min" value="1" {% if one_recipe['under_30_min'] == 1 %} checked="checked" {% endif %}>
                                <label for="yes">Yes</label>
                                <input type="radio" name="under_30_min" value="0" {% if one_recipe['under_30_min'] == 0 %} checked="checked" {% endif %}>
                                <label for="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% with messages = get_flashed_messages(category_filter=['recipe']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-light">{{message}}</p>
                    {% endfor %}
                {% endif %}
             {% endwith %}
                <input type="submit" value="Submit" class="btn btn-primary submit-btn me-5 align-self-center new_btn">
            </form>
            <div class="d-flex justify-content-end">
            </div>
        </main>
    </div>
</body>
</html>