<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add a New User</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container bg-dark text-light p-5">
            <div class="d-flex justify-content-sm-around pt-5">
                <h2 class="text-light">User {{one_user[0]['first_name']}}</h2>
                <a href="/" class="text-warning">Home</a>
            </div>
            <p>Full Name: {{one_user[0]['first_name']+' '+one_user[0]['last_name']}}</p>
            <p>Email: {{one_user[0]['email']}}</p>
            <p>Created On: {{one_user[0]['created_at']}}</p>
            <p>Last Updated On: {{one_user[0]['updated_at']}}</p>
            <a href="/users/{{one_user[0].id}}/edit" class="btn btn-outline-warning">Edit</a>
            <a href="/users/{{one_user[0].id}}/delete" class="btn btn-outline-warning">Delete</a>
        </div>
    </body>
</html>