<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex bg-primary text-warning gap-5">
        <div class="left m-3">
            <h2>New Dojo</h2>
            <form action="/create/dojo" class="d-flex" method="POST">
                <label for="dojo_name">Name:</label>
                <div class="d-flex flex-column gap-2 m-1">
                    <input type="text" name="dojo_name">
                    <input type="submit" value="Create" class="w-50 btn btn-warning">
                </div>
            </form>
        </div>
        <div class="right m-3 w-25">
            <h2>All Dojos</h2>
            <div class="border border-warning p-2">
                {% for dojo in dojos: %}
                <p>
                    <a href="/dojo/{{dojo.id}}" class="text-warning">{{dojo.name}}</a>
                </p>
                {% endfor %}
            </div>
            <a href="/ninjas" class="btn btn-warning mt-2">Add Ninja</a>
        </div>
    </div>
</body>
</html>