<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex bg-primary text-warning gap-5 flex-column p-5">
        <h2>Edit Ninja</h2>
        
        <form action="/ninja/edit/{{one_ninja[0]['id']}}" class="d-flex flex-column gap-2 m-1" method="POST">
            <div class="d-flex gap-2">
                <input type="hidden" name="id" value="{{one_ninja[0]['id']}}">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" value="{{one_ninja[0]['first_name']}}">
            </div>
            <div class="d-flex gap-2">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" value="{{one_ninja[0]['last_name']}}">
            </div>
            <div class="d-flex gap-2">
                <label for="age">Age</label>
                <input type="number" name="age" value="{{one_ninja[0]['age']}}">
            </div>
            <input type="submit" value="Update" class="btn btn-outline-warning w-25">
        </form>
        <a href="/" class="btn btn-warning w-25">Home</a>
    </div>
</body>
</html>