<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>New Ninja</h2>
            <form action="/create/ninja" class="d-flex flex-column gap-2" method="POST">
                <div>
                    <label for="dojo">Dojo:</label>
                    <select name="dojo_id" id="">
                        {% for dojo in dojos: %}
                        <option value="{{dojo['id']}}" name="dojo_id">{{dojo['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div class="d-flex">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div class="d-flex">
                    <label for="age">Age</label>
                    <input type="number" name="age">
                </div>
                <input type="submit" value="Create" class="btn btn-outline-success">
            </form>
    </div>
</body>
</html>