*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
#logo { 
  height: 50px;
  width: 50px;
}
/* Font Import */
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lobster&display=swap'); */

.car-img { 
  height: auto;
  
}
main { 
  background-color: bisque;
  
}
.login { 
  align-self: center;
}