<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex">
        <div class="left">
            <h2>New Author</h2>
            <form action="/new-author" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="right m-2">
            <h2>All Authors</h2>
            <div class="d-flex flex-column m-2">
                {% for author in authors %}
                <a href="">{{author['name']}}</a>
                {% endfor %}
            </div>
            <a href="/books">Add Book</a>
        </div>
    </div>
</body>
</html>