<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="container d-flex justify-content-between">
      <div>
        <h1>The Book App</h1>
        <h4>A site to Browse Books</h4>
      </div>
      <div>
        <h2>Welcome {{logged_in_user.first_name}}</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/user/account">My Books</a>
        <a href="/logout">Logout</a>
      </div>
    </header>
    <div class="container">
      <h2>{{book.title}}</h2>
      <p>Author: {{book.author}}</p>
      <p>Publisher: {{book.publisher}}</p>
      <p>Published at: {{book.publish_date.strftime('%B %e, %Y')}}</p>
    </div>
  </body>
</html>
