<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkerboard</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <table>
            {% for i in range(0,num1): %}
                <tr>
                    {%for x in range(0,num2):%}
                    <td class="square-{{(i+x)%2+1}}" style="background-color:
                        {% if (i+x)%2==0 %}
                            {{color1}}
                        {% else %}
                            {{color2}}
                        {% endif %};"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>