<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <div class="w-50 mx-auto mt-5">
    <div class="d-flex justify-content-between">
      <h2>Add a New Show</h2>
      <a href="/shows">Go Back</a>
    </div>
    <form action="/shows/add" class="d-flex flex-column gap-3" method="post">
      {% csrf_token %}
      <label for="title">Title</label>
      <input type="text" name="title">
      <div class="d-flex justify-content-between gap-5">
        <div class="d-flex flex-column w-50">
          <label for="network">Network</label>
          <input type="text" name="network">
        </div>
        <div class="d-flex flex-column w-50">
          <label for="release_date">Release Date</label>
          <input type="date" name="release_date">
        </div>
      </div>
      <label for="description">Description</label>
      <textarea name="description" id="" cols="30" rows="3"></textarea>
      <input type="submit" value="Create" class="btn btn-info w-25 mx-auto">
    </form>
</div>
</body>
</html>