<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <div class="w-50 mx-auto mt-5">
    <div class="d-flex justify-content-between">
      <h2>TV Show {{show.title}}</h2>
      <a href="/shows">Go Back</a>
    </div>
    <p>Title : {{show.title}}</p>
    <p>Network : {{show.network}}</p>
    <p>Release Date : {{show.release_date}}</p>
    <p>Description : {{show.description}}</p>
    <br>
    <br>
    <p>Last Updated: {{show.updated_at}}</p>
    <p><a href="{{show.id}}/edit">Edit</a> | <a href="{{show.id}}/destroy">Delete</a></p>
</div>
</body>
</html>